<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li><a href="{{ .url }}" target="_blank"><i class="{{ .icon }}"></i></a></li>
        {{ else }}
          <li><a href="{{ .url }}" target="_blank">{{ .name }}</a></li>
        {{ end }}
      {{ end }}
    <p style="text-align:left">My name is Spencer Greenhalgh, and I am an assistant professor of <a href="http://ci.uky.edu/sis/ict" target="_blank">Information Communication Technology</a> in the <a href="http://ci.uky.edu/sis/" target="_blank">School of Information Science</a> and Associate Graduate Faculty in the <a href="http://ci.uky.edu/" target="_blank">College of Communication and Information</a> at the University of Kentucky. My background is in education—I earned a <a href="http://french.byu.edu/" target="_blank">BA in French Teaching from Brigham Young University</a> and a <a href="http://edutech.educ.msu.edu/" target="_blank">PhD in Educational Psychology and Educational Technology from Michigan State University</a> before joining the faculty at UK.</p>
    <p style="text-align:left">I focus my research on how digital technologies allow for the creation of both new kinds of learning (and other meaningful) communities and new kinds of research methods for studying those communities. The Internet is increasingly allowing learners to create social groups that challenge existing conceptions of how meaning and learning are organized. Furthermore, because these communities exist in digital spaces, they provide new methodological options for researchers.</p>
    <p style="text-align:left">For example, in much of my work, I have developed automated methods to collect data from Twitter hashtags used by teachers for professional learning and then identified the quantitative and qualitative methods best suited to understand these communities. These methods have allowed me to describe the ways in which these hashtag-based groups challenge the typical conceptions of what communities look like.</p>
    </ul>
    {{ end }}
  </div>
</section>



