// Fonts
$text-font-family: "Comic Sans MS", cursive, sans-serif;
$heading-font-family: "Comic Sans MS", cursive, sans-serif;
$code-font-family: "Comic Sans MS", cursive, sans-serif;

// Colors
$bg-color: #008000 !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #ff0000 !default;

// Colors inverted
$bg-color-inverted: #212121 !default;
$fg-color-inverted: #fafafa !default;
$alt-bg-color-inverted: #424242 !default;
$alt-fg-color-inverted: #fafafa !default;
$link-color-inverted: #f44336 !default;
